.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  width: 99%;
  height: 50px;
  top: 0;
  z-index: 999;
  position: fixed; 
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 10);
}

/* 다크모드에 따른 네비바 배경 색상 */
.light-mode .navbar {
  background-color: #F1F1F1;
}

.dark-mode .navbar {
  background-color: #2C2D33;
}

/* -----------------네비바 css----------------- */
.Header_logo img {
  margin-right: 0px;
  margin-top:5px;
  height: 40px;
  object-fit: contain;
  margin-left: 10px;
}

/* 네비바 글씨 */
.Header_followtext {
  position: absolute;
  top: -6px;
  left: 90px;
  display: flex;
  align-items: center;
}

.Header_findtext {
  position: absolute;
  top: -6px;
  left: 170px;
  display: flex;
  align-items: center;
}

/* 다크모드 네비바 글씨 색상 */
.light-mode .Header_followtext,
.light-mode .Header_findtext {
  color: #551A8B;
}

.dark-mode .Header_followtext,
.dark-mode .Header_findtext {
  color: #F1F1F1;
}

/* 마우스를 올렸을 때 반응 */
.Header_followtext:hover {
  color: #c98aff;
  cursor: pointer;
}

.Header_findtext:hover {
  color: #c98aff;
  cursor: pointer;
}


/* -----------------아이콘 css----------------- */
.Header_dark {
  position: absolute;
  display: flex;
  top: 5px;
  right: 110px;
  align-items: center;
}

.Header_noticeicon {
  position: absolute;
  display: flex;
  top: 5px;
  right: 60px;
  align-items: center;
}

.Header_ava {
  position: absolute;
  display: flex;
  top: 5px;
  right: 10px;
  align-items: center;
}

.Header_input {
  justify-content: center;
  display: flex;
  position: absolute;
  top: 5px;
  margin-left: 37%;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 20%;
}
